body{
margin-bottom: 0;
}
.app{

}
.main{

}
.menu {
  position: absolute;
  bottom: 0;
  /* 2 codes above 4 sticky footer */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.selected{
color: #aaa;
}
.navlink{
text-decoration: none;
padding: 0 20px;
border: solid 1px #aaa
}
.tbl{
padding-top: 5px;
border: solid #aaa 1px;
font-size: 12px;
display: flex;
justify-content: center;
}
.tbody{padding-top: 0px}
.tblLink{
padding: 0 10px;
text-decoration: none;
}
.tblLink , .fn2tr td{
border: solid #aaa 1px
}
.fn2tr .td1{text-align: center;width: 50px}
.fn2tr .td2{width: 190px }
.fn2tr .td3{text-align: center;width: 15px}
